@font-face {
    font-family: "Gilroy";
    src: url("./../fonts/Gilroy-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("./../fonts/Gilroy-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
