@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

// КНОПКИ

.white-btn {
    cursor: pointer;
    border: none;
    @extend %box-shadow;

    transition: all 0.1s ease-in-out;
}

.white-btn--active,
.white-btn:active {
    cursor: pointer;
    border: none;
    @extend %box-shadow--active;
}

.green-btn {
    background: $second;
    transition: all 0.1s ease-in-out;
}

.green-btn:hover {
    background: #21cf4c;
}

.green-btn:active {
    background: #1f993e;
}

// HEADER

.header {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__logo {
        width: 140px;
        height: 40px;
    }
    &__info {
        display: flex;
    }
    &__whatsapp-btn {
        border-radius: 30px;
        height: 40px;
        font-weight: 700;
        font-size: 18px;
        line-height: 40px;
        padding: 0 30px;
        color: #ffffff;
        border: none;
        padding: 0 px 30px;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
    }

    &__whatsapp-icon {
        display: inline-block;
        margin-right: 10px;
        align-items: center;
        width: 20px;
        height: 20px;
    }

    &__whatsapp-text {
    }

    &__order {
        height: 40px;
        margin-left: 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 40px;
        border-radius: 30px;
        padding: 0 30px;
    }

    &__user {
        margin-left: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &__user-icon {
        margin: auto;
    }
}

// USER-MENU

.user-menu {
    position: absolute;
    z-index: 10;
    width: 400px;
    // height: 530px;
    background-color: $body;
    top: 60px;
    right: 0;
    font-size: 16px;
    padding: 0 20px;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;

    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05), 60px 60px 80px rgba(0, 0, 0, 0.35);
    border-radius: 40px 40px 40px 5px;
    &__btn {
        position: absolute;
        top: 23px;
        right: 20px;

        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__btn-icon {
    }

    &__list {
        margin-top: 70px;
        margin-bottom: 20px;
    }

    &__item {
        position: relative;
        padding: 20px 0;
        border-top: 0.5px solid #fff;
    }
    &__item:last-child {
        border-bottom: 0.5px solid #fff;
    }

    &__item-icon {
        vertical-align: bottom;
        margin-left: 20px;
        margin-right: 24px;
        width: 20px;
        height: 20px;
        fill: $default;
        transition-duration: 0.2s;
    }

    &__item-link {
        color: $default;
        transition-duration: 0.2s;
    }

    &__item-link:hover {
        color: $second;
        .user-menu__item-icon {
            fill: $second;
        }
    }

    &__item-link--deposit {
        color: #fe9102;

        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__item-link--deposit:hover {
        color: #fe6702;
    }

    &__wtahsapp {
        display: block;
        margin: 0 auto 20px auto;
        border: none;
        border-radius: 99px;
        height: 40px;
        font-weight: 700;
        font-size: 18px;
        color: #ffffff;
        width: 100%;
    }
}

.user-menu--close {
    visibility: hidden;
    opacity: 0;
}

// FOOTER

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    margin-bottom: 70px;

    font-size: 18px;
    &__list {
        max-width: 370px;
    }

    &__list-item {
        margin-top: 40px;

        position: relative;
    }

    &__item-link {
        color: $default;
        transition-duration: 0.2s;
    }
    &__item-link:hover {
        color: $second;
        .footer__item-icon {
            fill: $second;
        }
    }

    &__list-item::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 0;
        width: 370px;
        height: 1px;
        background-color: rgba(22, 22, 22, 0.08);
    }

    &__item-icon {
        fill: $default;
        margin-right: 22px;
        transition-duration: 0.2s;
    }
}
